/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
}

header {
    background-color: #bd3939;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    
}

section {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
}

